.card{
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 5px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  max-width: 250px;
  font-family: Arial, Helvetica, sans-serif;

}
.card-image{
  max-width: 250px;
}